<div class="container">
	<div ng-if="!myinfoCtrl.userInfo.firstname">Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a></div>
	<div ng-if="myinfoCtrl.userInfo.firstname">
		<dl class="row">
			<dt class="col-sm-3">First Name</dt>
			<dd class="col-sm-9">{{myinfoCtrl.userInfo.firstname}}</dd>

			<dt class="col-sm-3">Last Name</dt>
			<dd class="col-sm-9">{{myinfoCtrl.userInfo.lastname}}</dd>

			<dt class="col-sm-3">Email</dt>
			<dd class="col-sm-9">{{myinfoCtrl.userInfo.email}}</dd>

			<dt class="col-sm-3">Phone</dt>
			<dd class="col-sm-9">{{myinfoCtrl.userInfo.phone}}</dd>

			<dt class="col-sm-4">Favorite Menu Item Title</dt>
			<dd class="col-sm-8">{{myinfoCtrl.userInfo.favorite.name}}</dd>
			
			<dt class="col-sm-4">Favorite Menu Item Description</dt>
			<dd class="col-sm-8">{{myinfoCtrl.userInfo.favorite.description}}</dd>

			<dt class="col-sm-4">Favorite Menu Item Picture</dt>
			<dd class="col-sm-8" ng-if="!myinfoCtrl.userInfo.favorite.image_present">No image is present for this item in the database.</dd>
			<dd class="col-sm-8" ng-if="myinfoCtrl.userInfo.favorite.image_present"><img class="img-responsive" width="250" height="150" ng-src="{{myinfoCtrl.basePath}}/images/{{myinfoCtrl.userInfo.favorite.short_name}}.jpg" alt="{{myinfoCtrl.userInfo.favorite.name}}"></img></dd>

		</dl>
	</div>
</div>
